
<div *ngIf="dataFromAPI">
    <h1>Liste des articles</h1>
    <ul>
      <li *ngFor="let article of dataFromAPI">{{ article.source }}</li>
      <li *ngFor="let article of dataFromAPI">{{ article.author }}</li>
      <li *ngFor="let article of dataFromAPI">{{ article.title}}</li>
      <li *ngFor="let article of dataFromAPI">{{ article.description}}</li>
      <li *ngFor="let article of dataFromAPI">{{ article.url}}</li>
      <li *ngFor="let article of dataFromAPI">{{ article.urlToImage}}</li>
      <li *ngFor="let article of dataFromAPI">{{ article.publishedAt}}</li>
      <li *ngFor="let article of dataFromAPI">{{ article.content}}</li>
    </ul>
  </div><router-outlet></router-outlet>

